# Variaveis

# Fiscal Sponsor Information
Organization name: @parent.txt_FSName@
Address: @parent.txt_FSAddress@, @parent.txt_FSCountry@
Fiscal Sponsor Primary Contact: @parent.txt_FSPrimaryContact@, @parent.txt_FSTitle@
Fiscal Sponsor Primary Contact Email: @parent.txt_FSEmail@

# Partner Signatory Information
Name: @parent.txt_DDSignatoryName@
Organization: @parent.txt_DDSignatoryOrganization@
Title: @parent.txt_DDSignatoryTitle@
Email: @parent.txt_DDSignatoryEmail@

# Agreement Information
Start Date: @parent.startdate@
End Date: @parent.enddate@
Duration: @parent.selone_InvitationPeriod@
Final Report Due Date: @parent.date_FinalReportDue@
Mid-Term Checkin Due Date: @parent.date_MidTermCheckIn@
Amount: @parent.txt_InvitationAmount@
Amount in Words: @parent.txt_AmountInWords@

# Others
Number of Installments:@parent.numberinstallments@
